<h2>Volunteers</h2>

<% @volunteers.each do |volunteer| %>
  Volunteer Name:  <%= volunteer.name %></br>
  Areas of Interest:  <%= volunteer.interest %> </br>
  Mentor: <%= volunteer.user.username %> </br>

  <form method="post" action="/volunteers/<%=volunteer.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Volunteer">
  </form>

  <a href="/volunteers/<%=volunteer.id%>/edit">Edit Volunteer</a>
  </br>
  </br>
<% end %>
