<h2>Volunteer</h2>

Name:  <%= @volunteer.name %><br />
Interests:  <%= @volunteer.interest %> <br />

  <h3>Tasks</h3>
  <ul>
  <% @volunteer.tasks.each do |task| %>
    <li><a href="/tasks/<%=task.id%>"><%= task.name %>:  <%= task.description %></a></li>
  <% end%>
  </ul>
  <a href="/volunteers/<%=@volunteer.id%>/edit">Edit</a>
  <br />
  <br />
