<%= @task.name %><br />
  <%= @task.description %> <br />
  Volunteer: <a href="/volunteers/<%=@task.volunteer.id%>"><%= @task.volunteer.name %></a> <br />
  <a href="/tasks/<%=@task.id%>/edit">Edit</a>
  <br />
  <br />
