<h2> Task </h2>

Name:  <%= @task.name %><br />
Description:  <%= @task.description %> <br />
  Volunteer: <a href="/volunteers/<%=@task.volunteer.id%>"><%= @task.volunteer.name %></a> <br />
  <a href="/tasks/<%=@task.id%>/edit">Edit</a>
  <br />
  <br />
